mypy==0.930
mypy-extensions==0.4.3
networkx==2.6.3
numba==0.56.4
numpy==1.21.4
pandas==1.3.5
PyAstronomy==0.17.0
python-igraph==0.9.8
scipy==1.7.3
seaborn==0.11.2
sgp4==2.20
six==1.15.0
toml==0.10.2
tqdm==4.62.3